# This file is included by gestalt-config.sh
# Change values below

# ------------- Admin user settings -----------------------------------------------
# -- If not set, user is defaulted and password is randomized
GESTALT_ADMIN_USERNAME=
GESTALT_ADMIN_PASSWORD=

# ------------- API Gateway settings ----------------------------------------------

# -- Disable since CDK doesn't have cloud provider configured
KUBE_DYNAMIC_LOADBALANCER_ENABLED=No

EXTERNAL_GATEWAY_DNSNAME="apis.cluster.example.com"
EXTERNAL_GATEWAY_PROTOCOL="https"

# ------------- Database Configuration --------------------------------------------
# -- To provision an internal database, set PROVISION_INTERNAL_DATABASE=Yes, then
# -- the other database settings - host, port, credentials - are ignored.
PROVISION_INTERNAL_DATABASE=Yes

# -- External DB settings - Apply only if PROVISION_INTERNAL_DATABASE is 'No' or not specified
# DATABASE_HOSTNAME=gestalt-db.internal.example.com
# DATABASE_PORT=5432
# DATABASE_NAME=postgres
# DATABASE_USER=postgres
# DATABASE_PASSWORD=abcdefghijkl


# --------- CDK Settings ----------------------------------------------------------
# -- 'debug' for more verbose output in the gestalt installer
# GESTALT_INSTALL_MODE=debug

# -- Run a post-install script
POST_INSTALL_SCRIPT=./helpers/cdk-post-install.sh

# -- for Ceph backend: rbd storage
PV_STORAGE_ANNOTATION="volume.beta.kubernetes.io/storage-class: rbd"


# ------------ Installer settings, typically no need to change --------------------
COMMON_RELEASE_TAG="release-1.2.0"
INSTALLER_RELEASE_TAG="release-1.2.0-2"
