# This file is included by gestalt-config.sh
# Change values below

# Typically no need to change
DOCKER_RELEASE_TAG=release-1.2.0

GESTALT_INSTALL_MODE="non-debug"  # if set to 'debug', debug mode enabled


### AWS Kubernetes Settings (default StorageClass supporting dynamic volume provisioning) ###

PV_STORAGE_ANNOTATION="volume.alpha.kubernetes.io/storage-class: default"

KUBE_DYNAMIC_LOADBALANCER_ENABLED=Yes



### Canonical Kubernetes settings (Ceph backend, no Load Balancer) ###

# POST_INSTALL_SCRIPT=./helpers/cdk-post-install.sh
#
# PV_STORAGE_ANNOTATION="volume.beta.kubernetes.io/storage-class: rbd"
#
# KUBE_DYNAMIC_LOADBALANCER_ENABLED=No
#
# EXTERNAL_GATEWAY_DNSNAME=gestalt-apis.cdk-test.galacticfog.com
#
# EXTERNAL_GATEWAY_PROTOCOL=https
